* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header-block{
  color: white;
  font-size: 2em;
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.main-practice-block {
  display: flex;
  direction: row;
}

.section {
  border: 1px solid rgb(66, 66, 66);
  border-radius: 5px;
  margin: 5px;
}

.section-left{
  width: 80%;
  height: calc(100vh - 80px);
}

.section-right{
  width: 20%;
  height: calc(100vh - 80px);
  
}
